@import "tailwindcss";

@theme {
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
}

body {
  background-color: #050B14;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}